<body [style.background-color]="settings.darkMode ? 'black' : 'white'">
    <br>
    <div style="text-align: center;">
        <button id="back" (click)="settings.single = true; settings.menu = false;">Indietro</button>
        <button id="impo" (click)="settings.single = true; settings.impo = false; settings.precedente = 'single';">
            Impostazioni
        </button>
    </div>

    <hr><br>

    <div style="text-align: center;">
        <button (click)="reset()" style="font-size: 40px;">Reset livello</button>
    </div>

    <div id="btns" [style.grid-template-columns]="settings.css">
        <button
        (keyup)="keyup($event)"
        *ngFor="let v of valori;"
        [hidden]="v.nascondi"
        (click)="valore = v.testo"
        [style.background-color]="settings.darkMode ? (v.testo == valore) ? 'rgb(31, 19, 61)' : 'darkgrey' : (v.testo == valore) ? 'green' : ''"
        [style.color]="settings.darkMode ? (v.testo == valore) ? 'white' : '' : ''"
        [disabled]="v.disable">
            {{v.testo}}
        </button>
    </div>

    <div class="parent" [style.grid-template-columns]="settings.css" [style.grid-template-rows]="settings.css">
        <div
        class="casella"
        [style.border]="settings.darkMode ? '1px solid white' : '1px solid black'"
        *ngFor="let c of caselle; index as i"
        (keyup)="keyup($event)"
        (mouseup)="click(i, $event)"
        [hidden]="!c.nascondi"
        [style.color]="settings.colore"
        [style.text-shadow]="settings.darkMode ? c.shadow ? '1px 1px lightblue, -1px -1px lightblue' : '' : c.shadow ? '1.5px 1.5px green, -1.5px -1.5px lightgreen' : ''">
            {{c.testo}}
        </div>
    </div>
</body>