#back, #impo {
    font-size: calc(3vw + 10px);
    min-width: 200px;
    display: inline-block;
    margin-left: calc(2vw + 30px);
}

#btns {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1;
}

#btns button {
    text-align: center;
    font-size: 3vw;
}

.parent {
    margin-top: 30px;
    display: grid;
}

.casella {
    min-width: 25px;
    font-size: 3vw;
    text-align: center;
}

#btn {
    font-size: 5px;
    height: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    border-width: 0.1px;
}