<body [style.background-color]="settings.darkMode ? 'black' : 'white'">
    <br>
    <div style="text-align: center;">
        <button 
          id="back"
          (click)="settings.single = true; settings.menu = false;"
          [style.background-color]="settings.darkMode ? 'aqua' : ''">
            Indietro
        </button>
        <button
          id="impo"
          (click)="settings.single = true; settings.impo = false; settings.precedente = 'single';"
          [style.background-color]="settings.darkMode ? 'aqua' : ''">
            Impostazioni
        </button>
    </div>

    <hr><br>

    <div style="text-align: center;">
        <button
          (click)="reset(false)"
          style="font-size: 40px;"
          [style.background-color]="settings.darkMode ? 'lightgrey' : ''">
            Reset livello
        </button>
    </div>

    <div id="btns" [style.grid-template-columns]="settings.css">
        <button
        (keyup)="keyup($event)"
        *ngFor="let v of valori;"
        [hidden]="v.nascondi"
        (click)="valore = v.testo"
        [style.background-color]="settings.darkMode ? (v.testo == valore) ? 'rgb(31, 19, 61)' : 'darkgrey' : (v.testo == valore) ? 'green' : ''"
        [style.color]="settings.darkMode ? (v.testo == valore) ? 'white' : '' : ''"
        [disabled]="v.disable">
            {{v.testo}}
        </button>
    </div>

    <div class="parent" [style.grid-template-columns]="settings.css" [style.grid-template-rows]="settings.css">
        <div
        class="casella"
        [style.border]="settings.darkMode ? '1px solid white' : '1px solid black'"
        *ngFor="let c of caselle; index as i"
        (keyup)="keyup($event)"
        (mouseup)="click(i, $event)"
        [hidden]="c.nascondi"
        [style.background-color]="settings.colore"
        [style.color]="settings.darkMode ? 'white' : ''"
        [style.text-decoration]="c.underline ? 'underline' : ''"
        [style.text-shadow]="settings.darkMode ? c.shadow ? '2px 2px lightblue, -1px -1px lightblue' : '' : c.shadow ? '1.5px 1.5px green, -1.5px -1.5px lightgreen' : ''">
            {{c.testo}}
        </div>
    </div>

    <button
      [style.background-color]="settings.darkMode ? 'black' : 'white'"
      [style.border-color]="settings.darkMode ? 'rgba(80,100,80,0.8)' : 'rgb(245,245,245)'"
      id="btn"
      (keyup)="tasti($event)">
    </button>

      <div [hidden]="!win" id="win">
        <p>Complimenti!<br>Hai vinto!!!</p>
        <button (click)="rinizio()">Rinizia</button>
      </div>
</body>