<h1>Sudoku</h1>
<div id="menu" [hidden]="settings.menu">
  <button (click)="aggiorna(0)">
    <p>Giocatore singolo</p>
  </button>
  <br>
  <button (click)="aggiorna(1)">
    <p>Multi giocatore</p>
  </button>
  <br>
  <button (click)="aggiorna(2)">
    <p>Impostazioni</p>
  </button>
</div>

<div id="settings" [hidden]="settings.impo">
  <div>
    <label style="font-size: calc(2vw + 10px);">Colore testo caselle</label>
    <input
      type="text"
      [(ngModel)]="settings.colore"
      style="margin-left: 10px; margin-right: 10px; font-size: calc(1vw + 10px);"
    >
    <p
      style="border: 1px solid black; width: calc(1vw + 15px); height: calc(1vw + 15px); margin-bottom: -5px;"
      [style.backgroundColor]="settings.colore">
    </p>
  </div>
  <div>
    <p style="font-size: calc(2vw + 10px);">
      Dark Mode:
    </p>
    <div class="switch">
      <label class="switch">
          <input type="checkbox" style="display: none;" [(ngModel)]="settings.darkMode">
          <div class="slider" (onclick)="settings.darkMode = !settings.darkMode;"></div>
      </label>
    </div>
  </div>
  <div>
    <p style="font-size: calc(1vw + 20px);">
      Numeri come testo delle caselle:
    </p>
    <div class="switch">
      <label class="switch">
          <input type="checkbox" style="display: none;" [(ngModel)]="settings.numeri">
          <div class="slider" (onclick)="settings.numeri = !settings.numeri;"></div>
      </label>
    </div>
  </div>
  <button (click)="aggiorna(3)" style="font-size: calc(2vw + 15px);">
    Indietro
  </button>
</div>

<app-single-player [hidden]="settings.single"></app-single-player>
<app-multi-player [hidden]="settings.multi"></app-multi-player>