<body [style.background-color]="settings.darkMode ? 'black' : ''">
  <h1 [style.background-color]="settings.darkMode ? 'rgb(2, 28, 85)' : 'green'">Sudoku</h1>
  <div id="menu" [hidden]="settings.menu">
    <button
    (click)="aggiorna(0)"
    [style.background-color]="settings.darkMode ? 'aqua' : ''"
    [style.color]="settings.darkMode ? 'white' : ''">
      <p>Giocatore singolo</p>
    </button>
    <br>
    <button
    (click)="aggiorna(1)"
    [style.background-color]="settings.darkMode ? 'aqua' : ''"
    [style.color]="settings.darkMode ? 'white' : ''">
      <p>Multi giocatore</p>
    </button>
    <br>
    <button
    (click)="settings.precedente = 'menu'; aggiorna(2)"
    [style.background-color]="settings.darkMode ? 'aqua' : ''"
    [style.color]="settings.darkMode ? 'white' : ''">
      <p>Impostazioni</p>
    </button>
  </div>

  <div id="settings" [hidden]="settings.impo">
    <div>
      <label
      style="font-size: calc(2vw + 10px);"
      [style.color]="settings.darkMode ? 'white' : ''">
      Colore testo caselle
      </label>
      <input
        type="text"
        [(ngModel)]="settings.colore"
        style="margin-left: 10px; margin-right: 10px; font-size: calc(1vw + 10px);"
        [style.background-color]="settings.darkMode ? 'gray' : ''"
        [style.color]="settings.darkMode ? 'white' : ''">
      <p
        [style.border]="settings.darkMode ? '1px white solid' : '1px black solid'"
        style="width: calc(1vw + 15px); height: calc(1vw + 15px); margin-bottom: -5px;"
        [style.backgroundColor]="settings.colore">
      </p>
    </div>
    <div>
      <p
        style="font-size: calc(2vw + 10px);"
        [style.color]="settings.darkMode ? 'white' : ''">
        Dark Mode:
      </p>
      <div class="switch">
        <label class="switch">
            <input type="checkbox" style="display: none;" [(ngModel)]="settings.darkMode">
            <div class="slider"
            (onclick)="settings.darkMode = !settings.darkMode;"
            ></div>
        </label>
      </div>
    </div>
    <div>
      <p
        style="font-size: calc(1vw + 20px);"
        [style.color]="settings.darkMode ? 'white' : ''">
        Numeri come testo delle caselle:
      </p>
      <div class="switch">
        <label class="switch">
            <input type="checkbox" style="display: none;" [(ngModel)]="settings.numeri" (change)="settings.cambio()">
            <div class="slider"></div>
        </label>
      </div>
    </div>
    <button
      (click)="aggiorna(3)"
      style="font-size: calc(2vw + 15px);"
      [style.background-color]="settings.darkMode ? 'aqua' : ''">
      Indietro
    </button>
  </div>

  <app-single-player [hidden]="settings.single"></app-single-player>
  <app-multi-player [hidden]="settings.multi"></app-multi-player>
</body>