h1 {
    text-align: center;
    background-color: green;
    padding: 10px;
    font-size: calc(5vw + 20px);
    min-width: 300px;
}

#menu {
    text-align: center;
    min-width: 300px;
}

button {
    margin-top: calc(3vh + 10px);
    padding: 5px;
}

p {
    color: black;
    font-size: calc(1vw + 15px);
}

#settings {
    
}